@import "../../node_modules/bootstrap/scss/bootstrap";

.image-checkbox {
  display: block;
  position: relative;
  
  .image-box {
    width: 100%;
    height: 0;
    padding-top: 100%; // This maintains a 1:1 aspect ratio
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 4px solid transparent; // Adjust as needed
  }
  
  // Styles for the checkbox
  input[type="checkbox"] {
    position: absolute;
    top: 10px; // Position from the top edge
    left: 10px; // Position from the left edge
    z-index: 10; // Ensure it's above the image
    -webkit-appearance: none; // Removes default styling on Safari and Chrome
    -moz-appearance: none; // Removes default styling on Firefox
    appearance: none; // Removes default styling on other browsers
    width: 20px; // Width of the checkbox
    height: 20px; // Height of the checkbox
    border: 2px solid #fa0505; // Red border color
    background: transparent; // Transparent background
    cursor: pointer;

    &:checked {
      // Remove the background-image property or set it to none
      background-image: none; // This will remove the checkmark
      border-color: #fa0505; // Keep the red border when checked
    }
  }

  // When the image box is clicked and the checkbox is checked
  input[type="checkbox"]:checked + .image-box {
    border-color: #fa0505; // Red border color around the image box
  }
}

